/* Created by Dhruv Dubey */

html{
    background-image:url("https://cdn.dribbble.com/users/1265986/screenshots/3016101/mentalhealthday_v07.gif");
    background:no repeat center center fixed;
    background-size:cover;
    color: #FFFFFF;
}
a{color:#bac3cf;}



#foot {
    padding:10px;
    font-size:13px;
    margin-top:30%;
    position:relative ;
    height:30px;
    background-color:gray;
    width:100%;
    left: 0px;
    bottom: 0px;
}
.form{
    padding: 10px;
    margin-top: 30%;
    margin-left:10%;
}
.form input{
    border-radius:10px;
    padding:15px;
    margin: 10px;
    margin-left:8%;
    background-color:#4e545c;
    color: #ffffff;
}
.form button{
    border-radius:25px;
    margin:10px;
    margin-left:31%;
    padding:10px;
    background-color:dodgerblue;
}

.h3{
    margin-left:6%;
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
}

